In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_excel('/content/ecommerce_conversion_veri_seti_metehan_yıldız.xlsx')

In [2]:
df.head()

,session_id,user_id,date_text,country,device,traffic_source,product_category,page_views,time_on_site_sec,converted,...,user_segment,delivery_days,delivery_delay,returned,refund_amount,discount_used,discount_rate,out_of_stock_view,customer_support_contact,payment_risk_score
0,sess_000001,685903,15.05.2025,IT,desktop,instagram_ads,Beauty,8,128.0,0,...,Low,NaN,NaN,NaN,NaN,1,0.15,0,0,0.93
1,sess_000002,289636,24.01.2025,IT,desktop,direct,Beauty,2,231.0,0,...,Low,NaN,NaN,NaN,NaN,0,NaN,0,0,0.11
2,sess_000003,673977,24.06.2025,NL,desktop,facebook_ads,Home,5,87.0,0,...,Low,NaN,NaN,NaN,NaN,0,NaN,0,0,0.52
3,sess_000004,635030,30.05.2025,FR,mobile,google_ads,Sports,6,126.0,0,...,Low,NaN,NaN,NaN,NaN,0,NaN,0,0,0.16
4,sess_000005,859363,22.06.2025,IT,desktop,facebook_ads,Sports,8,409.0,0,...,Medium,NaN,NaN,NaN,NaN,0,NaN,0,0,0.47

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   session_id                20000 non-null  object
 1   user_id                   20000 non-null  int64
 2   date_text                 20000 non-null  object
 3   country                   20000 non-null  object
 4   device                    19411 non-null  object
 5   traffic_source            19219 non-null  object
 6   product_category          20000 non-null  object
 7   page_views                20000 non-null  int64
 8   time_on_site_sec          18850 non-null  float64
 9   converted                 20000 non-null  int64
 10  purchase_amount           20000 non-null  float64
 11  payment_method            2115 non-null   object
 12  city                      19021 non-null  object
 13  order_id                  2311 non-null   object
 14  hour                      19018 non-null  float64
 15  is_weekend                20000 non-null  int64
 16  returning_user            20000 non-null  int64
 17  session_quality_score     20000 non-null  float64
 18  user_segment              18984 non-null  object
 19  delivery_days             2336 non-null   float64
 20  delivery_delay            2336 non-null   float64
 21  returned                  2336 non-null   float64
 22  refund_amount             320 non-null    float64
 23  discount_used             20000 non-null  int64
 24  discount_rate             6926 non-null   float64
 25  out_of_stock_view         20000 non-null  int64
 26  customer_support_contact  20000 non-null  int64
 27  payment_risk_score        19060 non-null  float64
dtypes: float64(10), int64(8), object(10)
memory usage: 4.3+ MB

In [4]:
missing_percent = df.isnull().sum() / len(df) * 100
print(missing_percent[missing_percent > 0].sort_values(ascending=False))

refund_amount         98.400
payment_method        89.425
order_id              88.445
delivery_days         88.320
delivery_delay        88.320
returned              88.320
discount_rate         65.370
time_on_site_sec       5.750
user_segment           5.080
hour                   4.910
city                   4.895
payment_risk_score     4.700
traffic_source         3.905
device                 2.945
dtype: float64

In [5]:
df.dtypes

session_id                   object
user_id                       int64
date_text                    object
country                      object
device                       object
traffic_source               object
product_category             object
page_views                    int64
time_on_site_sec            float64
converted                     int64
purchase_amount             float64
payment_method               object
city                         object
order_id                     object
hour                        float64
is_weekend                    int64
returning_user                int64
session_quality_score       float64
user_segment                 object
delivery_days               float64
delivery_delay              float64
returned                    float64
refund_amount               float64
discount_used                 int64
discount_rate               float64
out_of_stock_view             int64
customer_support_contact      int64
payment_risk_score          float64
dtype: object

In [6]:
df.describe()

,user_id,page_views,time_on_site_sec,converted,purchase_amount,hour,is_weekend,returning_user,session_quality_score,delivery_days,delivery_delay,returned,refund_amount,discount_used,discount_rate,out_of_stock_view,customer_support_contact,payment_risk_score
count,20000.000000,20000.000000,18850.000000,20000.00000,20000.000000,19018.000000,20000.000000,20000.000000,20000.000000,2336.000000,2336.000000,2336.000000,320.000000,20000.000000,6926.000000,20000.000000,20000.000000,19060.000000
mean,546226.572750,4.996000,135.741220,0.11680,67.598539,11.445262,0.297550,0.401300,3.277761,5.032106,0.201199,0.136986,403.924281,0.346300,0.124892,0.101300,0.028750,0.500344
std,260422.643679,2.016677,83.617029,0.32119,226.325762,6.901258,0.457192,0.490174,1.208334,2.610684,0.400982,0.343907,254.768676,0.475802,0.055452,0.301733,0.167107,0.290113
min,100074.000000,1.000000,9.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.400000,1.000000,0.000000,0.000000,86.380000,0.000000,0.050000,0.000000,0.000000,0.000000
25%,320633.000000,4.000000,72.000000,0.00000,0.000000,5.000000,0.000000,0.000000,2.430000,3.000000,0.000000,0.000000,230.950000,0.000000,0.100000,0.000000,0.000000,0.250000
50%,543224.000000,5.000000,114.000000,0.00000,0.000000,11.000000,0.000000,0.000000,3.130000,5.000000,0.000000,0.000000,323.605000,0.000000,0.150000,0.000000,0.000000,0.500000
75%,773122.000000,6.000000,178.000000,0.00000,0.000000,17.000000,1.000000,1.000000,4.000000,7.000000,0.000000,0.000000,515.440000,1.000000,0.150000,0.000000,0.000000,0.750000
max,999990.000000,20.000000,868.000000,1.00000,4813.700000,23.000000,1.000000,1.000000,9.480000,9.000000,1.000000,1.000000,1631.730000,1.000000,0.200000,1.000000,1.000000,1.000000

In [7]:
categorical_cols = df.select_dtypes(include=['object']).columns
for col in categorical_cols:
  print(f"\n{col}: {df[col].nunique()} unique values")
  print(df[col].value_counts().head())

session_id: 20000 unique values
session_id
sess_019984    1
sess_019983    1
sess_019982    1
sess_019981    1
sess_019980    1
Name: count, dtype: int64

date_text: 180 unique values
date_text
12.02.2025    137
17.03.2025    134
25.01.2025    134
10.02.2025    134
15.04.2025    133
Name: count, dtype: int64

country: 8 unique values
country
TR    10983
GB     1345
FR     1330
US     1310
NL     1289
Name: count, dtype: int64

device: 3 unique values
device
mobile     12566
desktop     5833
tablet      1012
Name: count, dtype: int64

traffic_source: 6 unique values
traffic_source
google_ads       4839
instagram_ads    3853
organic          3815
facebook_ads     2916
email            1917
Name: count, dtype: int64

product_category: 6 unique values
product_category
Home       3412
Grocery    3375
Beauty     3330
Sports     3316
Fashion    3309
Name: count, dtype: int64

payment_method: 4 unique values
payment_method
credit_card         1377
debit_card           323
cash_on_delivery     254
wallet               161
Name: count, dtype: int64

city: 12 unique values
city
Istanbul    2122
Ankara      2099
Bursa       2092
Izmir       2077
Antalya     2073
Name: count, dtype: int64

order_id: 2311 unique values
order_id
ord_0002336    1
ord_0000001    1
ord_0000002    1
ord_0000003    1
ord_0000004    1
Name: count, dtype: int64

user_segment: 2 unique values
user_segment
Low       17397
Medium     1587
Name: count, dtype: int64

In [10]:
df_clean = df.copy()

# time_on_site_sec - fill with median by device
if 'time_on_site_sec' in df_clean.columns:
  device_median = df_clean.groupby('device')['time_on_site_sec'].transform('median')
  df_clean['time_on_site_sec'] = df_clean['time_on_site_sec'].fillna(device_median)
  df_clean['time_on_site_sec'] = df_clean['time_on_site_sec'].fillna(df_clean['time_on_site_sec'].median())

# 2. hour - fill with mode or -1
if 'hour' in df_clean.columns:
  df_clean['hour'] = pd.to_numeric(df_clean['hour'], errors='coerce')
  mode_hour = df_clean['hour'].mode()[0] if not df_clean['hour'].mode().empty else -1
  df_clean['hour'] = df_clean['hour'].fillna(mode_hour)

# 3. discount_rate - fill based on discount_used
if 'discount_rate' in df_clean.columns and 'discount_used' in df_clean.columns:
  mask = (df_clean['discount_used'] == 0) & (df_clean['discount_rate'].isna())
  df_clean.loc[mask, 'discount_rate'] = 0

  category_median = df_clean.groupby('product_category')['discount_rate'].transform('median')
  df_clean['discount_rate'] = df_clean['discount_rate'].fillna(category_median)
  df_clean['discount_rate'] = df_clean['discount_rate'].fillna(df_clean['discount_rate'].median())

# 4. payment_risk_score - fill with mean by user_segment
if 'payment_risk_score' in df_clean.columns and 'user_segment' in df_clean.columns:
  segment_mean = df_clean.groupby('user_segment')['payment_risk_score'].transform('mean')
  df_clean['payment_risk_score'] = df_clean['payment_risk_score'].fillna(segment_mean)
  df_clean['payment_risk_score'] = df_clean['payment_risk_score'].fillna(df_clean['payment_risk_score'].mean())

# 5. Columns like returned, refund_amount, delivery_days - fill with 0 for non-purchases

zero_fill_score = ['returned', 'refund_amount', 'delivery_days', 'delivery_delay']
for col in zero_fill_score:
  if col in df_clean.columns:
    df_clean[col] = pd.to_numeric(df_clean[col], errors='coerce')
    df_clean[col] = df_clean[col].fillna(0)

In [11]:
remaining_missing = df_clean.isnull().sum()
remaining_missing = remaining_missing[remaining_missing > 0]
print(remaining_missing)

device              589
traffic_source      781
payment_method    17885
city                979
order_id          17689
user_segment       1016
dtype: int64

In [14]:
print(df_clean['converted'].value_counts(normalize=True) * 100)

print("\nPurchase amount distribution (for converted=1 only):")
if df_clean['converted'].sum() > 0:
  print(df_clean[df_clean['converted'] == 1]['purchase_amount'].describe())
else:
  print("No conversions in sample data")

print("\nReturning user distribution:")
print(df_clean['returning_user'].value_counts(normalize=True) * 100)

converted
0    88.32
1    11.68
Name: proportion, dtype: float64

Purchase amount distribution (for converted=1 only):
count    2336.000000
mean      578.754615
std       377.837704
min        56.890000
25%       319.465000
50%       484.795000
75%       731.110000
max      4813.700000
Name: purchase_amount, dtype: float64

Returning user distribution:
returning_user
0    59.87
1    40.13
Name: proportion, dtype: float64

In [15]:
df_clean.to_csv('ecommerve_data_cleaned.csv', index=False)

In [19]:
# Handle the Remaining Missing Values

df_clean['has_payment_method'] = df_clean['payment_method'].notna().astype(int)
df_clean['has_order_id'] = df_clean['order_id'].notna().astype(int)

df_clean['payment_method'] = df_clean['payment_method'].fillna('no_payment')
df_clean['order_id'] = df_clean['order_id'].fillna('no_order')

categorical_fill_cols = ['device', 'traffic_source', 'city', 'user_segment']

for col in categorical_fill_cols:
    if col in df_clean.columns:
        # Fill with 'unknown' or mode
        mode_val = df_clean[col].mode()[0] if not df_clean[col].mode().empty else 'unknown'
        df_clean[col] = df_clean[col].fillna(mode_val)
        print(f"Filled {col} missing with: {mode_val}")

Filled device missing with: mobile
Filled traffic_source missing with: google_ads
Filled city missing with: Istanbul
Filled user_segment missing with: Low

In [20]:
print(df_clean.isnull().sum()[df_clean.isnull().sum() > 0])

Series([], dtype: int64)

In [22]:
# 1. Engagement features
df_clean['views_per_second'] = df_clean['page_views'] / (df_clean['time_on_site_sec'] + 1)
df_clean['engagement_score'] = df_clean['page_views'] * df_clean['session_quality_score']

# 2. Time features (if date_text exists)
if 'date_text' in df_clean.columns:
    # Convert to datetime
    df_clean['date'] = pd.to_datetime(df_clean['date_text'], format='%d.%m.%Y', errors='coerce')
    df_clean['month'] = df_clean['date'].dt.month
    df_clean['day_of_week'] = df_clean['date'].dt.dayofweek
    df_clean['is_month_end'] = df_clean['date'].dt.is_month_end.astype(int)
    df_clean['is_month_start'] = df_clean['date'].dt.is_month_start.astype(int)

# 3. Discount impact
df_clean['discount_impact'] = df_clean['discount_rate'] * df_clean['discount_used']

# 4. Risk features
df_clean['high_risk'] = (df_clean['payment_risk_score'] > 0.7).astype(int)

# 5. Session intensity
df_clean['intensive_session'] = ((df_clean['page_views'] > df_clean['page_views'].median()) &
                                  (df_clean['time_on_site_sec'] > df_clean['time_on_site_sec'].median())).astype(int)

print("New features created:")
new_features = [col for col in df_clean.columns if col not in df.columns]
print(new_features)

=== CREATING NEW FEATURES ===
New features created:
['has_payment_method', 'has_order_id', 'views_per_second', 'engagement_score', 'date', 'month', 'day_of_week', 'is_month_end', 'is_month_start', 'discount_impact', 'high_risk', 'intensive_session']

In [23]:
print(df_clean.isnull().sum())

session_id                  0
user_id                     0
date_text                   0
country                     0
device                      0
traffic_source              0
product_category            0
page_views                  0
time_on_site_sec            0
converted                   0
purchase_amount             0
payment_method              0
city                        0
order_id                    0
hour                        0
is_weekend                  0
returning_user              0
session_quality_score       0
user_segment                0
delivery_days               0
delivery_delay              0
returned                    0
refund_amount               0
discount_used               0
discount_rate               0
out_of_stock_view           0
customer_support_contact    0
payment_risk_score          0
has_payment_method          0
has_order_id                0
views_per_second            0
engagement_score            0
date                        0
month                       0
day_of_week                 0
is_month_end                0
is_month_start              0
discount_impact             0
high_risk                   0
intensive_session           0
dtype: int64

In [24]:
df_clean.to_csv('ecommerce_cleaned_ready.csv', index=False)

# MODEL1

In [25]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, mean_squared_error, r2_score
import xgboost as xgb
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv('/content/ecommerce_cleaned_ready.csv')

In [29]:
# QUESTION 1: WILL CUSTOMER BUY AGAIN? (Classification)

X1 = df.drop(['returning_user', 'session_id', 'user_id', 'data_text', 'order_id', 'payment_method', 'converted', 'purchase_amount', 'date'], axis=1, errors='ignore')
y1 = df['returning_user']

categorical_cols = X1.select_dtypes(include=['object']).columns.tolist()
numerical_cols = X1.select_dtypes(include=['int64', 'float64']).columns.tolist()

X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, test_size=0.2, random_state=42, stratify=y1)

preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numerical_cols),
        ('cat', OneHotEncoder(handle_unknown='ignore', sparse_output=False), categorical_cols)
    ])

model1 = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('classifier', RandomForestClassifier(
        n_estimators=100,
        max_depth=10,
        random_state=42,
        class_weight='balanced'
    ))
])

model1.fit(X1_train, y1_train)

y1_pred = model1.predict(X1_test)
y1_pred_proba = model1.predict_proba(X1_test)[:, 1]

print(f"Accuracy: {accuracy_score(y1_test, y1_pred):.4f}")

print('\nClassification Report')
print(classification_report(y1_test, y1_pred))

print('\nConfusion Matrix')
print(confusion_matrix(y1_test, y1_pred))

Accuracy: 0.5182

Classification Report
              precision    recall  f1-score   support

           0       0.60      0.57      0.59      2395
           1       0.41      0.44      0.42      1605

    accuracy                           0.52      4000
   macro avg       0.51      0.51      0.51      4000
weighted avg       0.52      0.52      0.52      4000


Confusion Matrix
[[1363 1032]
 [ 895  710]]

# MODEL2

In [34]:
# QUESTION 2: HOW MUCH WILL CLIENT SPEND? (Regression)

df_converted = df[df['converted'] == 1].copy()

X2 = df_converted.drop(['purchase_amount', 'session_id', 'user_id', 'date_text', 'order_id', 'payment_method', 'converted', 'returning_user', 'date'], axis=1, errors='ignore')
y2 = df_converted['purchase_amount']

X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, test_size=0.2, random_state=42)

categorical_cols2 = X2.select_dtypes(include=['object']).columns.tolist()
numerical_cols2 = X2.select_dtypes(include=['int64', 'float64']).columns.tolist()

preprocessor2 = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numerical_cols2),
        ('cat', OneHotEncoder(handle_unknown='ignore', sparse_output=False), categorical_cols2)
    ]
)

model2 = Pipeline(steps=[
    ('preprocessor', preprocessor2),
    ('regressor', RandomForestRegressor(
        n_estimators=100,
        max_depth=10,
        random_state=42
    ))
])

model2.fit(X2_train, y2_train)

y2_pred = model2.predict(X2_test)

print('\nModel2 performance:')
print(f'RMSE (Root Mean Squared Error): {np.sqrt(mean_squared_error(y2_test, y2_pred)):.2f}')
print(f'MAE (Mean Absolute Error): {np.mean(np.abs(y2_test - y2_pred)):.2f}')
print(f'R2 Score: {r2_score(y2_test, y2_pred):.2f}')

results_df = pd.DataFrame({
    'Actual': y2_test.values[:10],
    'Predicted': y2_pred[:10],
    'Difference': y2_test.values[:10] - y2_pred[:10]
})

print('\nFirst 10 Predictions:')
print(results_df)

Model2 performance:
RMSE (Root Mean Squared Error): 347.27
MAE (Mean Absolute Error): 247.06
R2 Score: 0.04

First 10 Predictions:
   Actual   Predicted  Difference
0  686.09  531.713057  154.376943
1  660.14  586.956488   73.183512
2  550.06  542.758638    7.301362
3  247.03  606.873898 -359.843898
4  215.43  611.114219 -395.684219
5  266.36  527.469757 -261.109757
6  245.79  708.789914 -462.999914
7  741.20  704.923134   36.276866
8  153.45  642.263809 -488.813809
9  542.26  574.092231  -31.832231

In [38]:
# FEATURE IMPORTANCE

# Get feature names after one-hot encoding
preprocessor.fit(X1_train)
feature_names = []
for name, trans, cols in preprocessor.transformers_:
    if name == 'cat':
        # Get one-hot encoded feature names
        ohe = trans
        feature_names.extend(ohe.get_feature_names_out(cols))
    elif name == 'num':
        feature_names.extend(cols)

# Get feature importances
importances = model1.named_steps['classifier'].feature_importances_

# Create importance DataFrame
importance_df = pd.DataFrame({
    'Feature': feature_names,
    'Importance': importances
}).sort_values('Importance', ascending=False)

print("Top 20 most important features for predicting returning_user:")
print(importance_df.head(20).to_string())

Top 20 most important features for predicting returning_user:
                          Feature  Importance
16               views_per_second    0.061574
4           session_quality_score    0.061322
13             payment_risk_score    0.060175
1                time_on_site_sec    0.059863
17               engagement_score    0.058132
2                            hour    0.044813
0                      page_views    0.027997
22                discount_impact    0.020796
10                  discount_rate    0.019155
5                   delivery_days    0.013846
19                    day_of_week    0.013755
18                          month    0.011111
220  traffic_source_instagram_ads    0.010611
225      product_category_Grocery    0.009823
213                device_desktop    0.009570
3                      is_weekend    0.009404
219     traffic_source_google_ads    0.009075
8                   refund_amount    0.008983
221        traffic_source_organic    0.008743
214                 device_mobile    0.008689

In [37]:
# SAVE MODELS FOR FUTURE USE

import joblib

# Save models
joblib.dump(model1, 'model1_returning_user.pkl')
print("Saved Model 1 as 'model1_returning_user.pkl'")

if model2:
    joblib.dump(model2, 'model2_purchase_amount.pkl')
    print("Saved Model 2 as 'model2_purchase_amount.pkl'")

# Save preprocessing info
joblib.dump({
    'categorical_cols': categorical_cols,
    'numerical_cols': numerical_cols,
    'feature_names': feature_names
}, 'model_preprocessing_info.pkl')

Saved Model 1 as 'model1_returning_user.pkl'
Saved Model 2 as 'model2_purchase_amount.pkl'

['model_preprocessing_info.pkl']